#wallet-panel{

  position:fixed;
  right:20px;
  bottom:20px;

  width:240px;

  background:white;

  padding:14px;

  border-radius:12px;

  box-shadow:
  0 12px 28px rgba(0,0,0,.2);

  z-index:999999;

}
